| Sort by: #{sortable 'created_at', 'Last Created'} #{sortable 'updated_at', 'Last Updated'} #{sortable 'name'}
= render partial: 'campaign_objects/table', locals: {campaign_objects: @encounters}
= will_paginate
= link_to 'New Encounter', [:new, current_campaign, :encounter]