| Sort by: #{sortable 'created_at', 'Last Created'} #{sortable 'updated_at', 'Last Updated'} #{sortable 'name'}
= render 'index'
= will_paginate
= link_to 'New Encounter', [:new, current_campaign, :encounter]