h1[class="page-name"]
  = @story.name
p[class="abstract"]
  = @story.abstract
h2 Story
p
  = @story.story_text
h2 Notes
= render partial: "notes/index", locals: {notes: @story.notes, campaign_object: @story.campaign_object}
= button_to 'Edit', [:edit, @story], method: :get
= button_to 'Back to Index', stories_path, method: :get