= f.label :name
= f.text_field :name
= f.label :abstract
= f.text_field :abstract
= f.label :picture
= f.file_field :picture
= f.label :object_text
= f.text_area :object_text, class: 'tinymce'
= tinymce