= @campaign_object.name
br
= @campaign_object.abstract
br
= @campaign_object.notes
br
= button_to 'Delete', @campaign_object, method: :delete, data: { confirm: 'Are you sure?'}
= button_to 'Back to Index', campaign_objects_path, method: :get