$leftColumnWidth: 150px

html
  height: 100%
  width: 100%

li
  list-style: none
  
body
  color: $black
  height: 100%
  width: 100%
  
#topBar
  height: 129px
  width: 100%
  background-color: $green-dark

#leftColumn
  width: 150px
  height: 100%
  float: left
  background-color: $yellow-medium
  
#logo

#mainBody
  margin-left: $leftColumnWidth + 10px
  padding-top: 10px