html
  height: 100%
  width: 100%
  
body
  color: $black
  height: 100%
  width: 100%
  padding: 0
  margin: 0
  font: "DejaVu Serif", serif
  font-size: 12pt

ul
  list-style: none
  padding: 0
  margin: 0
  
p
  margin-top: 0
  
#noCampaignChosenHeader
  top: 0
  height: 129px
  width: 100%
  background: $green-dark
  
.no-bottom-margin
  margin-bottom: 0px

header
  top: 0
  height: 35px
  width: 100%
  background: $green-dark

.userBar
  float: right
  clear: right
  margin-right: 20px
  margin-top: 10px
  a
    text-decoration: none
    color: $yellow-light
  li
    float: left
    margin-left: 10px
  
#campaignChosenHeader
  overflow: hidden
  height: 35px
  
#logoSmall
  width: 190px
  height: auto
  float: left

#logoLarge
  float: left

#leftColumn
  min-height: 100%
  width: 190px
  float: left
  text-align: center
  background-color: $yellow-medium
  ul
    margin-top: 10px
  
#campaignChosenContent
  padding: 10px
  padding-top: 10px
  margin-left: 200px
  
#noCampaignChosenContent
  margin-top: 110px
  margin-left: 0px + 10px

form
  display: block
  width: auto
  
input
  display: block
  font-family: inherit
  margin-bottom: 5px
  width: 95%
 
textarea
  display: block
  width: 95%
  height: 100px
  font-family: inherit
  resize: none

nav
  float: left
  margin-top: 10px

nav ul
  float: left
  padding-left: 20px

nav li
  float: left
  margin-right: 10px
  
nav li a
  text-decoration: none
  color: $yellow-light
  font-size: 115%
  
.info-box
  float: right
  width: 300px
  border: 1px solid $green-dark
  margin: 2px 0px 2px 2px
  padding-top: 2px

th
  text-align: left

td.image
  text-align: center
  img
    max-width: 300px
    max-height: 300px
  
.page-name
  margin: 0px
  
.header-gap
  margin-top: 0px
  padding-bottom: 2px
  border-bottom: 1px solid $green-dark

#errorList
  color: #ff0000
  margin-bottom: 15px
  ul
    list-style: circle
    margin-left: 15px

span
  display: block

.notes
  width: auto
  display: block

.notes-new
  margin-left: 0px !important

.note-header
  display: inline-block
  vertical-align: bottom
  margin-bottom: 5px
  height: 1em
  
.note-image-container
  float: left
  clear: left
  max-width: 50px
  max-height: 50px
  margin-left: -50px
  
.note-image
  max-height: 100%
  max-width: 100%

.note-button
  float: right
  margin-right: 10px
  
.note
  display: block
  margin-bottom: 10px
  margin-left: 50px

small.timestamp
  float: right
  margin-left: 5px
  
span.wrapper
  display: block
  overflow: hidden